:root {
  /* --navbarHeight: 5rem; */
  --navbarHeight: 5vh;
}

#debug {
  z-index: 100;
  color: white;
  position: fixed;
  height: 20vh;
  top: 20px;
  left: 20px;
}

#vignetteEffect {
  --gradient-top: 15%;
  --gradient-bot: 25%;

  height: calc(100vh - var(--navbarHeight));
  /* height: 100vh; */
  width: 100vw;
  position: fixed !important;

  /* background: pink; */
  /* opacity: 0.2; */
  /* box-shadow: inset 0px 0px 100px 100px #000; */
  background: linear-gradient(
    black,
    var(--gradient-top),
    transparent,
    calc(100% - var(--gradient-bot)),
    black
  );
  z-index: 10;
}

#intersectionMarker {
  --height: 70vh;
  outline: solid 1px red;
  height: var(--height);
  top: calc((50vh - (var(--height) * 0.5)) - var(--navbarHeight));
  width: 100%;
  position: fixed;
}

.passthrough {
  /* allow links to pass through */
  pointer-events: none;
}

html {
  scroll-snap-type: y mandatory !important;
  scroll-snap-stop: always !important;
  scroll-behavior: smooth !important;
  /* scroll-padding-bottom: var(--navbarHeight); */
  scroll-padding-bottom: 15vh;
}
@media (width <= 1250px) {
  html {
    scroll-padding-bottom: 5vh;
  }
}

.vignetteContainer {
  padding-top: 50vh;
  padding-bottom: 10vh;

  /* background: blue; */

  /* height: calc(100vh - var(--navbarHeight)); */
  /* overflow: scroll; */
}

/* .vignette > .linked, */
.vignetteContainer > .vignette {
  scroll-snap-align: center !important;
  scroll-snap-stop: always !important;

  /* transition: 0.1s all ease-in-out; */

  height: max(18rem, 40vw);
}

.vignette > .linked {
  /* transition: 0.1s all ease-in-out; */
}

.spin {
  animation: spin1 1s linear;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
