:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#debug {
  position: fixed;
  top: 10vh;
  right: 10vw;
  color: #f4cde9;
  z-index: 10;
  display: none;
}

#app {
  background: black;
}

#vignetteEffect {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  /* background: white; */
  box-shadow: inset 0px 0px 100px 60px #000;
  z-index: 10;
}

.intersection {
  --height: 60vh;
  outline: solid 1px red;
  height: var(--height);
  top: calc((50vh - (var(--height) * 0.5)));
  width: 100%;
  position: fixed;
}

.vignettes {
  display: flex;
  flex-flow: column;
  padding-top: 10vh;
  padding-bottom: 100vh;
}

.vignette {
  padding: 5% 0;

  /* vertical size for scroll snap */
  block-size: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  /* center img child vertically */
  /* display: flex; */
  /* align-items: center; */

  transition: 0.1s all ease-out;
}

.vignette:not(.active) {
  /* filter: blur(20px); */
}

img {
  width: 100vw;
}
